<header class="header">
    <section class="header__info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ullam quisquam maxime itaque assumenda iure odit reiciendis corporis aliquam, blanditiis, tempore perferendis voluptates eveniet. Doloremque harum accusamus dolorum ipsa saepe?</p>
    </section>
    <section class="container-navbar">
        <nav class="navbar container">
            <a href="#" class="navbar__logo">
                <img src="assets/images/el-bicho.webp" alt="Logo el bicho siuuuu">
                <span>
                    Romer's Page
                </span>
            </a>
            <div class="navbar__nav">
                <ul class="nav__list">
                    <li class="nav__link">
                        <a href="#">Criptografia</a>
                    </li>
                    <li class="nav__link">
                        <a href="#">Primos</a>
                    </li>
                    <li class="nav__link">
                        <a href="#">Mis Redes</a>
                    </li>
                    <li class="nav__link">
                        <a href="#">Aprende</a>
                    </li>
                </ul>
                <button class="navbar__toogle-btn" onclick="mostrarMenu()">
                    <img src="assets/icons/menu.svg" alt="EL bicho">
                </button>
                <div class="navbar__mobile-menu" id="navbar__mobile-menu">
                    <ul class="nav__list-mobile">
                        <li class="nav__link-mobile">
                            <a href="#">Criptografia</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="#">Primos</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="#">Mis Redes</a>
                        </li>
                        <li class="nav__link-mobile">
                            <a href="#">Aprende</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
