<footer class="footer">
    
    <div class="container__footer">
        <div class="lista__item">
            <h3>CALCULADORA</h3>
            <ul>
                <li>
                    <a class="lista__item__link" href="#">Numeros Grandes</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Inversos Modulares</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Exponenciacion</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">MCD</a>
                </li>

            </ul>
        </div>
        <div class="lista__item">
            <h3>CRIPTOGAFIA</h3>
            <ul>
                <li>
                    <a class="lista__item__link" href="#">Sistema de Hill</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Cifrado de Cesar</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">RSA</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Vigener</a>
                </li>

            </ul>
        </div>
        <div class="lista__item">
            <h3>NUMEROS PRIMOS</h3>
            <ul>
                <li>
                    <a class="lista__item__link" href="#">N-simo primo</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Es primo?</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Miller Rabin</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Criba de Eratostenes</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Factorizacion de Romer</a>
                </li>

            </ul>
        </div>
        <div class="lista__item">
            <h3>TODO</h3>
            <ul>
                <li>
                    <a class="lista__item__link" href="#">Lista item</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Lista item</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Lista item</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Lista item</a>
                </li>
                <li>
                    <a class="lista__item__link" href="#">Lista item</a>
                </li>
            </ul>
        </div>
    </div>
    <hr class="linea">
    <div class="container__footer">
        <div class="redes__item">
            <a href="#"><img class="red__image" src="assets/icons/github.svg" alt="GH Romer"></a>
            <a href="#"><img class="red__image" src="assets/icons/fb.svg" alt="Fb Romer"></a>
            <a href="#"><img class="red__image" src="assets/icons/youtube.svg" alt="YTB Romer"></a>
            <a href="#"><img class="red__image" src="assets/icons/x.svg" alt="X Romer"></a>

        </div>
        <div class="redes__item">
            <a href="#" >
                <img class="red__image" src="assets/icons/donate.svg" alt="">
                <p>Comprame un cafe</p>
            </a>
        </div>
    </div>
    <div class="container__footer">
        <div class="redes__item">
            <p style="text-align: center; font-size: 10px;">Todos los derechos reservados Romer Flores</p>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="pages/templates/footer/footer-style.css">